{% extends "admin_base.html" %}
{% block content %}
<table>
<h1>Shard Dump</h1>
<h2>ID: {{ shard }}</h2>
<tr><th><a href="?sort=date">Date</a></th><th>Source</th><th><a href="?sort=domain">Domain</a></th><th><a href="?sort=title">Story</a></th></tr>
{% for story in stories %}
<tr><td><a href="../../story/{{ story.id }}/">{{ story.date | date }}</a></td><td>
    {{ macros_story::comment_links(story=story) }}
</td><td>{{ story.domain }}</td><td><a href="{{ story.url }}">{{ story.title }}</a></td></tr>
{% endfor %}
</table>
{% endblock %}
