{% extends "admin_base.html" %}
{% block content %}
<table>
{% for story in stories %}
<tr><td>{{ story.score }}</td><td><a href="../story/{{ story.id }}/">{{ story.date | date }}</a></td><td>{{ story.domain }}</td><td>
    {% for source, scrape in story.scrapes %}
    {% if source is matching("hackernews-") %}
    ⒣
    {% elif source is matching("reddit-") %}
    ⒭
    {% elif source is matching("lobsters-") %}
    ⒧
    {% elif source is matching("slashdot-") %}
    ⒮
    {% else %}
    <span title="{{ source }}">unknown</span>
    {% endif %}
    {% endfor %}
</td><td>{{ story.title }}</td></tr>
{% endfor %}
</table>
{% endblock %}
