{% import "macros/macros_story.html" as macros_story %}
<!DOCTYPE html>
<html lang="en">
<head>
    {%- block head -%}
    <link rel="stylesheet" href="{{ 'style.css' | static }}" />
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    {% if search.text %}
    <title>{% block title %}{% endblock title %}: {{ search.text }}</title>
    <meta property="og:title" content="progscrape: &quot;{{ search.text }}&quot; search results">
    <meta property="og:description" content="Technology news about &quot;{{ search.text }}&quot; from Hacker News, Reddit, and other programming sites.">
    <meta property="og:url" content="{{ host.protocol }}://{{ host.host }}/?search={{ search.text }}">
    {% else %}
    <title>{% block title %}{% endblock title %}</title>
    <meta property="og:title" content="progscrape: all the news that's fit to scrape">
    <meta property="og:description" content="Technology news from Hacker News, Reddit, and other programming sites.">
    <meta property="og:url" content="{{ host.protocol }}://{{ host.host }}/">
    {% endif %}
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ host.protocol }}://{{ host.host }}{{ 'opengraph_image.png' | static | safe }}">
    <meta property="og:image:alt" content="progscrape logo and tagline: all the news that's fit to scrape">
    <meta property="og:site_name" content="progscrape">
    <meta name="twitter:card" content="summary_large_image">
    {% if search.text %}
    <link rel="alternate" type="application/rss+xml" title="progscrape.com" href="/feed?search={{ search.text }}" />
    {% else %}
    <link rel="alternate" type="application/rss+xml" title="progscrape.com" href="/feed" />
    {% endif %}
    {%- endblock head -%}
</head>
<body>
    <div id="header">
        <h1><a href="/">&gt;progscrape &#x2592;</a></h1>
        <h2>All the news that's fit to scrape</h2>
        {% if search %}
        <a class="subscribe" href="/feed?search={{ search.text }}"><img src="{{ 'feed-icon-14x14.png' | static }}" /> Subscribe to search feed</a>
        {% else %}
        <a class="subscribe" href="/feed"><img src="{{ 'feed-icon-14x14.png' | static }}" /> Subscribe to feed</a>
        {% endif %}
        <form class="search" method="GET" action="/">
            <input type="search" name="search" results="5" value="{{ search.text }}" placeholder="Search" />
        </form>
    </div>
    
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        <div class="span-8 left">
        <div><a href="https://play.google.com/store/apps/details?id=com.progscrape">
        <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
        </a></div>
        </div>
        <div class="span-10 right">
        Created by <a href="https://grack.com">Matt Mastracci</a> (matthew - at - mastracci.com)<br>
        This entire project is <a href="https://github.com/mmastrac/progscrape">open source</a><br>
        Also see: <a href="http://charbase.com">Charbase - visual unicode database</a></div>
        <span class="clear"></span>
        </div>
    </div>
    <noscript>
        <img src="/state?path={{ path | urlencode | safe }}" width="1" height="1">
    </noscript>
    <script>
        (function() {
            var referrer = encodeURIComponent(document.referrer);
            var path = encodeURIComponent({{ path | json_encode() | safe }});
            var scriptUrl = '/state?path=' + path + '&r=' + referrer;

            var script = document.createElement('script');
            script.src = scriptUrl;
            script.async = true;
            document.head.appendChild(script);
        })();
    </script>
    <!-- running {{ git }} -->
  </body>
</html>
