{% import "macros/macros_story.html" as macros_story %}
<!DOCTYPE html>
<html lang="en">
<head>
    {%- block head -%}
    <link rel="stylesheet" href="{{ 'style.css' | static }}" />
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    {% if search %}
    <title>{% block title %}{% endblock title %}: {{ search }}</title>
    <meta property="og:title" content="progscrape: &quot;{{ search }}&quot; search results">
    <meta property="og:description" content="Technology news about &quot;{{ search }}&quot; from Hacker News, Reddit, and other programming sites.">
    <meta property="og:url" content="https://{{ host }}/?search={{ search }}">
    {% else %}
    <title>{% block title %}{% endblock title %}</title>
    <meta property="og:title" content="progscrape: all the news that's fit to scrape">
    <meta property="og:description" content="Technology news from Hacker News, Reddit, and other programming sites.">
    <meta property="og:url" content="https://{{ host }}/">
    {% endif %}
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://{{ host }}{{ 'opengraph_image.png' | static | safe }}">
    <meta property="og:image:alt" content="progscrape logo and tagline: all the news that's fit to scrape">
    <meta property="og:site_name" content="progscrape">
    <meta name="twitter:card" content="summary_large_image">
    {% if search %}
    <link rel="alternate" type="application/rss+xml" title="progscrape.com" href="/feed?search={{ search }}" />
    {% else %}
    <link rel="alternate" type="application/rss+xml" title="progscrape.com" href="/feed" />
    {% endif %}
    {%- endblock head -%}
</head>
<body>
    <div id="header">
        <h1><a href="/">&gt;progscrape &#x2592;</a></h1>
        <h2>All the news that's fit to scrape</h2>
        {% if search %}
        <a class="subscribe" href="/feed?search={{ search }}"><img src="{{ 'feed-icon-14x14.png' | static }}" /> Subscribe to search feed</a>
        {% else %}
        <a class="subscribe" href="/feed"><img src="{{ 'feed-icon-14x14.png' | static }}" /> Subscribe to feed</a>
        {% endif %}
        <form class="search" method="GET" action="/">
            <input type="search" name="search" results="5" value="{{ search }}" placeholder="Search" />
        </form>
    </div>
    
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        <div class="span-8 left">
        <div><a href="https://play.google.com/store/apps/details?id=com.progscrape">
        <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
        </a></div>
        </div>
        <div class="span-10 right">
        Created by <a href="https://grack.com">Matt Mastracci</a> (matthew - at - mastracci.com)<br>
        This entire project is <a href="https://github.com/mmastrac/progscrape">open source</a><br>
        Also see: <a href="http://charbase.com">Charbase - visual unicode database</a></div>
        <span class="clear"></span>
        </div>
    </div>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-198407-5']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
        })();
    </script>
    <!-- running {{ git }} -->
  </body>
</html>
