{% extends "base.html" %}
{% block title %}progscrape{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <div id="main">
    <div class="container">
    <div class="popular-tags">Trending tags:
        {% for tag in top_tags %}
        <span class="tag"><a href="/?search={{ tag }}">{{ tag }}</a></span>&nbsp;
        {% endfor %}
    </div>

    {% for story in stories %}
    <div class="story">
        <h2 class="story-title"><a href="{{ story.url }}">{{ story.title }}</a></h2>
        <div class="metadata">
            <span class="sites">
                {{ macros_story::comment_links(story=story) }}
            </span>
            <span class="age" title="{{ story.date | absolute_time }}">
                {{ story.date | relative_time(now=now) }}
            </span>
            <span class="tags">
                {% for tag in story.tags %}
                <span class="tag"><a href="/?search={{ tag|urlencode }}">{{ tag }}</a></span>
                {% endfor %}
            </span>
        </div>
    </div>
    {% endfor %}

    <p><a href="?offset=30">More &rarr;</a></p>
    </div>
    </div>
{% endblock content %}
