{% extends "base.html" %}
{% block title %}progscrape{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <div id="main">
    <div class="container">
    <div class="popular-tags">Trending tags:
        {% for tag in top_tags %}
        <span class="tag"><a href="/?search={{ tag.0 }}">{{ tag.0 }}</a></span>&nbsp;
        {% endfor %}
    </div>

    {# Show the chart for tag/domain searches, but only at offset 0 #}
    {% if (search.type == "tag" or search.type == "domain") and (search.offset == 0) and (stories | length == search.count) %}
    <script src="{{ 'chart.js-4.4.3.umd.min.js' | static }}"></script>
    <div id="zeitgeist">
        <div class="loading">Loading...</div>
        <canvas></canvas>
    </div>
    <script src="{{ 'zeitgeist.js' | static }}"></script>
    <script>
        loadZeitgeist('{{ search.text }}');
    </script>
    {% endif %}

    {% for story in stories %}
    <div class="story">
        <h2 class="story-title"><a class="url" href="{{ story.url }}">{{ story.title }}</a><a class="detail" title="Story details" href="/s/{{ story.url | trim_start_matches(pat='http://') | trim_start_matches(pat='https://') }}"></a></h2>
        <div class="metadata">
            <span class="sites">
                {{ macros_story::comment_links(story=story) }}
            </span>
            <span class="age" title="{{ story.date | absolute_time }}">
                {{ story.date | relative_time(now=now) }}
            </span>
            <span class="tags">
                {% for tag in story.tags %}
                <span class="tag"><a href="/?search={{ tag|urlencode }}">{{ tag }}</a></span>
                {% endfor %}
            </span>
        </div>
    </div>
    {% else %}
    <h2 class="error">No stories found!</h2>
    {% endfor %}

    {% if search.offset <= 30 and (stories | length == search.count) %}
    {% if search.text %}
    <p class="more"><a href="?search={{ search.text }}&offset={{ search.offset + 30 }}">More &rarr;</a></p>
    {% else %}
    <p class="more"><a href="?offset={{ search.offset + 30 }}">More &rarr;</a></p>
    {% endif %}
    {% endif %}
    </div>
    </div>
{% endblock content %}
