{% macro comment_links(story) %}
{% for source, scrape in story.scrapes %}
    {% if source is matching("hackernews-") %}
    <a href="" class="hnews"><img src="{{ 'hnews.png' | static }}" width="16" height="16"></a>
    {% elif source is matching("reddit-") %}
    <a href="" class="reddit"><img src="{{ 'reddit.png' | static }}" width="16" height="16"></a>
    {% elif source is matching("lobsters-") %}
    ⒧
    {% elif source is matching("slashdot-") %}
    ⒮
    {% else %}
    <span title="{{ source }}">unknown</span>
    {% endif %}
{% endfor %}
{% endmacro input %}