{% extends "admin_base.html" %}
{% block content %}
<table>
    <tr><th>ID</th><td>{{ story.id }}</td></tr>
    <tr><th>Title</th><td>{{ story.title }}</td></tr>
    <tr><th>URL</th><td>{{ story.url }}</td></tr>
    {% for source, scrape in story.scrapes %}
    <tr><th>{{ source }}</th><td>
        <table>
            {% for key, value in scrape %}
            {% for key, value in value %}
            <tr><th>{{ key }}</th><td>
            {% if key == "date" %}
                {{ value | date }}
            {% elif key == "url" %}
                {{ value[0] }}
            {% else %}
                {{ value }}
            {% endif %}
            </td></tr>
            {% endfor %}
            {% endfor %}
        </table>
    </td></tr>
    {% endfor %}
    <tr><th>Score</th><td>
        <table>
            {% for row in score %}
            <tr><th>{{ row.0 }}</th><td>{{ row.1 }}</td></tr>
            {% endfor %}
        </table>
    </td></tr>
</table>
{% endblock %}
