<!DOCTYPE html>
<html>
    <head>
        <title>progscrape: status</title>
        <link rel="stylesheet" type="text/css" href="{{ 'admin.css' | static }}"></link>
    </head>
    <body>
        <h1>progscrape: status</h1>
        <table>
        <tr><th>Shard Identifier</th><th>Story Count</th></tr>
        {% for shard in storage.by_shard %}
        <tr><td>{{ shard.0 }}</td><td>{{ shard.1 | comma }}</td></tr>
        {% endfor %}
        <tr><td>Total</td><td>{{ storage.total | comma }}</td></tr>
        </table>
    </body>
</html>
