@use "breakpoints";

h1.related {
    padding: 1em 0 0.5em 0;
    font-size: 20px;
}

h2.error {
    font-weight: bold;
    padding: 1em 0 1em 0;
}

.beta {
    display: inline-block;
    background-image: url('data:image/svg+xml;utf8,<svg height="800" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36" width="800" xmlns="http://www.w3.org/2000/svg"><path d="m25.8 18h1.7l-.8-2.2z"/><path d="m10.4 17.5c-.1 0-.2 0-.3 0h-1.6v1.5h1.6c.4.1.8-.2.9-.6s-.2-.8-.6-.9z"/><path d="m10.7 15.8c0-.4-.3-.7-.8-.7h-1.4v1.3h1.4c.5.1.8-.2.8-.6z"/><path d="m33.1 9h-30c-.6 0-1 .4-1 1v14c0 .6.4 1 1 1h4v4c0 .4.2.8.6.9.1.1.2.1.4.1.3 0 .5-.1.7-.3l4.7-4.7h19.6c.6 0 1-.4 1-1v-14c0-.6-.5-1-1-1zm-22.7 11.1c-.1 0-.1 0-.2 0h-3v-6h3c.9-.1 1.7.5 1.8 1.4v.1c0 .6-.3 1.1-.8 1.3.6.2 1.1.8 1.1 1.5-.1 1-.9 1.7-1.9 1.7zm7.5-4.9h-3.3v1.2h3v1.2h-3v1.3h3.3v1.2h-4.6v-6h4.6zm3.8 4.9h-1.3v-4.8h-1.9v-1.2h5v1.2h-1.8zm6.7 0-.4-1h-2.7l-.4 1h-1.4l2.4-6h1.4l2.5 6z"/><path d="m0 0h36v36h-36z" fill="none"/></svg>');
    background-size: cover;
    color: yellow;
    width: 24px;
    height: 24px;
}

#zeitgeist {
    height: 0px;
    display: table;
    width: 100%;
    max-width: 100%;
    transition: height 0.25s ease;

    .loading, canvas {
        display: none;
    }

    .spinner {
        &::before {
            content: "\00a0";
        }
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-left: 1em;
        background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_b2T7{animation:spinner_xe7Q .8s linear infinite}.spinner_YRVV{animation-delay:-.65s}.spinner_c9oY{animation-delay:-.5s}@keyframes spinner_xe7Q{93.75%,100%{r:3px}46.875%{r:.2px}}</style><circle class="spinner_b2T7" cx="4" cy="12" r="3"/><circle class="spinner_b2T7 spinner_YRVV" cx="12" cy="12" r="3"/><circle class="spinner_b2T7 spinner_c9oY" cx="20" cy="12" r="3"/></svg>');
        background-size: cover;
    }

    &.loading {
        height: 300px;
        display: table;
        .loading, canvas {
            display: table-cell;
            height: 100%;
            width: 100%;
            text-align: center;
            vertical-align: middle;
        }
    }

    &.loaded {
        .loading {
            display: none;
        }
    }

    .note {
        display: table-row;
        text-align: center;
        font-style: italic;
        padding-bottom: 1em;
    }
}

.tag {
    font-size: 10px;
    font-weight: bold;
    background-color: #eee;
    color: #222;
    padding: 0.1em 0.7em;

    a {
        color: inherit;
        text-decoration: none !important;
    }
}

.age {
    color: inherit;
    text-wrap: nowrap;

    &::after {
        content: "ⅈ";
        vertical-align: middle;
        background-color: #888;
        font-weight: bolder;
        color: #fff;
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 4px;
        margin-left: 0.75em;
        box-shadow: inset 0 0 2px #88d;
        border-radius: 1px;
        padding: 0 0.5em 0 0.5em;
    }
}

.menu {
    height: 0;
    display: flex;
    flex-direction: row-reverse;
    transition: height 0.25s ease-in;

    &:focus-within {
        &::before {
            transform: rotate(-90deg);
        }
    }
    &::before {
        content: "\00a0";
        transition: transform 0.25s ease-in;
        flex: 0 36px;
        display: flex;
        height: 36px;
        background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g stroke="black" stroke-linecap="round" stroke-width="2"><path d="m4 18h16"/><path d="m4 12h16"/><path d="m4 6h16"/></g></svg>');
        background-size: cover;
    }

    > * {
        opacity: 0;
        transform: scale(0);
        flex: 1 auto;
        position: absolute;
        transition: max-height 0.25s ease-in, opacity 0.25s ease-in;
        overflow: hidden;
    }

    .contents {
        padding: 1em 2em;
        background-color: #fafafa;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 10px #eee;
        border-radius: 5px;
        h1 {
            font-size: 16px;
        }
        p {
            margin: 1em 0 1em 0;
            max-width: 40em;
        }
        form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            > *:nth-child(2n + 1) {
                &::after {
                    content: ":";
                }
                flex: 0 8em;
                height: 2em;
                align-content: center;
            }
            > *:nth-child(2n + 0) {
                flex: 1 calc(100% - 9em);
                height: 2em;
                align-content: center;
            }
        }
    }

    &:focus-within {
        > * {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.popular-tags {
    padding-bottom: 1em;
    padding-right: 36px;
    font-size: 11px;
    line-height: 17px;
    color: #555;

    span.tag {
        background-color: #eee;
        color: #222;
        padding: 0.1em 0.7em;
    }
    
    span.tag:hover {
        background-color: #222;
        color: #eee;
    }
}

.more {
    padding-top: 1em;
}

.story {
	padding-bottom: 0.15em;

    h2.story-title {
        font-size: 14px;
        line-height: 24px;
        padding: 0.3em 0 0.05em 0;
        margin: 0;

        a.url {
            font-size: 16px;
            color: #3333cc;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            &:visited {
                color: #aaa;
            }
            &:hover, &:active {
                color: black;
            }
        }
    }
    
    &.detail {
        h2.story-title a:visited {
            color: #5555cc;
        }
        div.metadata {
            padding-top: 0em;
            display: flex;
            flex-direction: column;
            span.tags {
                span.tag {
                    background-color: #555;
                }
                order: 1;
            }
            span.sites {
                order: 3;
            }
            > * {
                opacity: 1 !important;
                padding: 0.25em;
            }
            span.sites a {
                width: auto;
                padding-left: 20px;
                margin-top: 4px;
                border-width: 0;
            }
            .age::before {
                content: "from ";
            }
            .age::after {
                display: none;
            }
            span.tags::before {
                content: "🏷️";
                font-size: 18px;
                vertical-align: middle;
            }

            a.reddit::before {
                content: "Reddit (" attr(data-timestamp) "): " attr(data-title);
            }
            a.hacker_news::before {
                content: "Hacker News (" attr(data-timestamp) "): " attr(data-title);
            }
            a.lobsters::before {
                content: "Lobste.rs (" attr(data-timestamp) "): " attr(data-title);
            }
            a.slashdot::before {
                content: "Slashdot (" attr(data-timestamp) "): " attr(data-title);
            }
        }
    }

    div.metadata {
        display: table;
        padding-left: 1em;

        > * {
            display: table-cell;
            vertical-align: middle;
        }
        
        span.sites {
            margin: 0;
            opacity: 0.2;
            padding-right: 0.75em;
        }

        .age {
            padding-right: 0.25em;
        }
        
        span.tag {
            padding: 0.1em 0.3em;
        }
    }

    a.feed, a.reddit, a.delicious, a.hacker_news, a.lobsters, a.slashdot {
        display: inline-block;
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        border-radius: 2px;
        border-top: 1px solid rgba(255, 255, 255, .1);
        border-left: 1px solid rgba(255, 255, 255, .1);
        border-right: 1px solid rgba(0, 0, 0, .1);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        background-size: 16px;
        background-origin: border-box;
        background-repeat: no-repeat;
    
        > img {
            display: none;
        }
    }
    
    a.reddit {
        background-image: var(--url-reddit-png);
    }
    
    a.slashdot {
        background-image: var(--url-slashdot-png);
    }
    
    a.hacker_news {
        background-image: var(--url-hacker_news-png);
    }
    
    a.lobsters {
        background-image: var(--url-lobsters-png);
    }
    
    a.feed {
        background-image: var(--url-feed-png);
    }

    /* Support for devices that can't point so good */
    @media screen and (pointer: coarse) {
        & {
            padding-bottom: 1em !important;
            padding-top: 1em !important;
            border-bottom: 1px solid #ccc !important;
        }
        
        h2.story-title {
            line-height: 20px;
            padding-bottom: 0.5em;
            a {
                text-decoration: #dde dashed underline !important;
            }
        }

        .metadata {
            padding-left: 0 !important;
        }
    }

    /* Currently no small-mobile rules */
    @media screen and (max-width: breakpoints.$mobilewidth) {
    }

    /* Support for devices w/o hover */
    @media screen and (any-hover: none) {
        div.metadata {
            span.sites, .age {
                opacity: 1 !important;
            }
            a.age {
                text-decoration: dashed underline;
            }
            span.tag {
                background-color: #555 !important;
                color: #eee !important;
            }
        }
    }

    /* Support for devices w/ hover */
    div.metadata {
        span.sites, .age {
            opacity: 0.2;
        }
        .age {
            text-decoration: none;
        }
        span.tag {
            background-color: #ccc;
            color: #fff;
        }
        &:hover {
            span.sites, .age {
                opacity: 1;
            }
            a.age {
                text-decoration: underline;
            }
            span.tag {
                background-color: #555;
                color: #eee;
                &:hover {
                    background-color: black !important;
                    color: white;
                }
            }
        }
    }
}
