{% extends "admin/base.html" %}
{% block content %}
<h1>Cron</h1>

<table>
<tr><th>Name</th><th>URL</th><th>Last</th><th>Next</th></tr>
{% for cron in cron %}
<tr id="cron-{{ loop.index }}" name="{{ cron.name }}">
<td>{{ cron.name }}</td><td>{{ cron.url }}</td><td>
    {% if cron.last == 0 %}
    (never)
    {% else %}
    {{ cron.last | approx_time }}
    {% endif %}
</td><td>{{ cron.next | approx_time }}</td><td><button onclick="run('cron-{{ loop.index }}')">Run now</button></td>
</tr>
{% endfor %}
</table>

<h1>History</h1>

<button onclick="refreshHistory()">Refresh</button> <span id="history-refresh-time"></span>
<div id="history-error"></div>

<table id="history" class="cron-history">
    <tr><th colspan="2">Time</th><th>Endpoint</th><th>Status Code</th><th>Output</th></tr>
{% for row in history | sort(key=0) | reverse %}
    <tr><td>{{ row.0 | absolute_time }}</td><td>{{ row.0 | approx_time }}</td><td>{{ row.1 }}</td><td class="status-{{ row.2 }}">{{ row.2 }}</td><td><button onclick="showOutput(event, 'output-{{loop.index}}')">Output</button><input id="output-{{loop.index}}" type="hidden" value="{{ row.3 }}" /></td></th></tr>
{% endfor %}
</table>

<h1>Config</h1>
{{ macros_config::print_config(config=config.cron) }}

<script>
    const HEADERS = { 'Content-Type': 'application/json' };

    async function run(job) {
        let cron = document.getElementById(job).getAttribute('name');
        let response = await fetch('.', {method:'post', headers: HEADERS, body: JSON.stringify({ cron })});
        if (response.status == 200) {
            alert('Successfully submitted job. Refresh to update status.');
        } else {
            alert(`Failed to submit job (${response.status}): ${await response.text()}`);
        }
    }

    function showOutput(event, output) {
        event.preventDefault();
        let wind = window.open('.', "_blank", 'width=640,height=480,toolbar=0,menubar=0,location=0');
        wind.addEventListener('DOMContentLoaded', function() {
            wind.document.documentElement.innerHTML = document.getElementById(output).value;
        })
    }

    async function refreshHistory() {
        let refreshTime = document.getElementById('history-refresh-time');
        refreshTime.innerText = 'Refreshing...';
        let response = await fetch('history', {method:'post'});
        refreshTime.innerText = `Refreshed at ${new Date().toLocaleTimeString()}`;
        let error = document.getElementById('history-error');
        if (response.status == 200) {
            let data = await response.text();
            let history = document.getElementById('history');
            history.innerHTML = data;
            error.innerHTML = '';
        } else {
            error.innerHTML = `Failed to refresh history (${response.status}): ${await response.text()}`;
        }

        setTimeout(refreshHistory, 10000);
    }

    document.addEventListener('DOMContentLoaded', function() {
        refreshHistory();
    });
</script>

{% endblock %}
