{% macro comment_links(story) %}
{%- for source, id in story.sources -%}
{%- if id -%}
<a href="{{ id | comment_link }}" class="{{ source }}"><img src="{{ source ~ '.png' | static }}" width="16" height="16"></a><span> </span>
{%- endif -%}
{%- endfor -%}
{% endmacro %}

{% macro sort(sort) -%}
{%- if sort == "date" -%}
date
{%- elif sort == "score" -%}
score
{%- elif sort == "domain" -%}
domain
{%- elif sort == "title" -%}
title
{%- else -%}
order
{%- endif -%}
{%- endmacro %}

{% macro sort_header(name, field, sort) %}
<a href="{% if field == 'order' %}?{% else %}?sort={{ field }}{% endif %}">{{ name }}{% if field == self::sort(sort=sort) %}&nbsp;↓{% endif %}</a>
{% endmacro %}
